<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div>

<form th:action="@{/registration}" th:object="${userForm}" method="POST">

    <h2>Регистрация</h2>

    <div>
        <label>Nickname</label>
        <input th:type="text" th:field="*{nickname}" />
        <p th:each="error: ${#fields.errors('nickname')}"
           th:text="${error}">Validation error</p>

    </div>

    <div>
        <label>First_Name</label>
        <input th:type="text" th:field="*{firstName}"/>
    </div>

    <div>
        <label>Last_Name</label>
        <input th:type="text" th:field="*{lastName}"/>
    </div>

    <div>
        <label>Age</label>
        <input th:type="number" th:field="*{age}"/>
    </div>

    <div>
        <label>Email</label>
        <input th:type="text" th:field="*{email}"/>
    </div>

    <div>
        <label>Password</label>
        <input th:type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Confirm_Password</label>
        <input th:type="password" th:field="*{confirmPassword}"/>
    </div>

    <button type="submit">Зарегистрироваться</button>

</form>
</div>

<a th:href="@{/login}">Return</a>

</body>
</html>